@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
       url('../static/fonts/Raleway.ttf') format("truetype");
}

h1, h2, p, li, a {
    font-family: Raleway,Helvetica Neue,Helvetica,Segoe UI,SegoeUI,Arial,sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: 500;
}

h2 {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
}

.subtext {
    font-size: small;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 16px 300px 16px 200px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: gray;
}

form, .main {
    margin: 20px 5% 20px 20%;
    padding: 0;
}

.main ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}

a.block {
    margin: 5px;
    text-align: center;
    text-decoration: none;
    width: 32%;
    height: 50px;
    border: 1px solid #ccc;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #2864A8;
    font-weight: 500;
}

a:visited {
    color: #2864A8;
}

a:hover {
    color: #031E40;
}

a.block {
    color: #000;
}

a.block:hover {
    color: slategrey;
}

.main .button {
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 40px;
    color: #000;
}

.main .button:hover {
    color: slategrey;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 16%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3b4d63; /* Pantone 539C */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-wrap: break-word;
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav li { list-style-type: none; }
.sidenav a {
    padding: 6px 8px 6px 20px;
    font-size: 15px;
    color: #8396BD;
    display: block;
    text-decoration: none;
}
.sidenav li:hover {
    background-color: slategrey;
}
.sidenav li:hover a {
    color: #031E40;
}
.sidenav li.selected {
    background-color: slategrey;
}
.sidenav li.selected a {
    color: #031E40;
}

.sidenav a.sub-category {
    margin-left: 20px;
}

.sidenav a.heading { font-size: 40px; }
.sidenav a.heading:hover {
    color: #031E40;
    background-color: #3b4d63;
}
