{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<title>Team Awesome Landing</title>
		
		<link rel="icon" type="image/png" sizes="16x16" href="css_dr/favicon.png">	
		
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

		
		<script src="{% static 'script/script.js' %}"></script>
		
	</head>
	
<body>
<header>
	<h1>Team Awesome Landing</h1>
	</header>

	<section>
	<table>
	<tr>
	<td>
		<a href="https://www.microspecorporation.com/manage/page/?open=1" >
		<img class="icon" src="{% static 'img/microspecIcon.png' %}">
		<p>Microspec</p>
		</a>
	</td>
	<td>
		<a href="https://portal.office.com" >
		<img class="icon" src="img/officeIcon.png">
		<p>Office</p>
		</a>
	</td>
	<td>
		<a href="/doc" >
		<img class="icon" src="img/officeIcon.png">
		<p>Documentation</p>
		</a>
	</td>
	<td>
		<a href="https://microspecorporation.on.spiceworks.com/" >
		<img class="icon" src="img/spiceworksIcon.png" >
		<p>Spiceworks</p>
		</a>
	</td>
	<td>
		<a href="https://my.splashtop.com" >
		<img class="icon" src="img/splashtopIcon.png" >
		<p>Splashtop</p>
		</a>
	</td>
	</tr>
	
	<tr>
	<td>
		<a href="https://unifi.ubnt.com" >
		<img class="icon" src="img/unifiIcon.png">
		<p>Unifi</p>
		</a>
	</td>
	<td>
		<a href="https://192.168.4.10/ui/#/" >
		<img class="icon" src="img/unitrendsIcon.png" >
		<p>Unitrends</p>
		</a>
	</td>
	<td>
		<a href="https://www.untangle.com" >
		<img class="icon" src="img/untangleIcon.png">
		<p>Untangle</p>
		</a>
	</td>
	
	<td>
		<a href="https://192.168.0.20:9443/vsphere-client/" >
		<img class="icon" src="img/vmwareIcon.png" >
		<p>VMware</p>
		</a>
	</td>
	</tr>

	
	</table>
	</section>
	
	<footer>
	
	<div id="doggie">
	<a href="https://theuselessweb.com/" >
	<img src="img/doggie.gif">
	</a>
	</div>
	
	</footer>
	

</body>

</html>